[Unit]
Description=Sonarqube

[Service]
User=sonar
WorkingDirectory=/opt/sonarqube-10.5.0.89998/bin/linux-x86-64/
ExecStart=/opt/sonarqube-10.5.0.89998/bin/linux-x86-64/sonar.sh start
Type=forking
[Install]
WantedBy=multi-user.target
