[Unit]
Description=prometheus

[Service]
User=bin
WorkingDirectory=/opt/prometheus-{{ version }}.linux-amd64
ExecStart=/opt/prometheus-{{ version }}.linux-amd64/prometheus

[Install]
WantedBy=multi-user.target